*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: Helvetica;
}

.logo img{
	position: relative;
	margin-left: 10px;
	width: 60px;
}

nav{
	background: #0b212f;
	padding: .5px 20px;
}

ul{
	list-style-type: none;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	background: underline;
	color: #296d98;
}

.menu li a{
	display: block;
}

.logo a{
	font-size: 23px;
	font-weight: bolder;
}

.button.secondary{
	border-bottom: 1px #444 solid;
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle{
	order:1;
}

.item.button{
	order:2;
}

.item{
	width: 100%;
	text-align: center;
	order:3;
	padding: 10px;
	display: none;
	margin-right: 5px;
}

.item.active{
	display: block;
}

.toggle{
	cursor: pointer;
}

.bars{
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
	margin-bottom: 6px;
}

.bars::before,.bars::after{
	background: #999;
	content:"";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}

.bars::before{
	top: 5px;
}

.bars::after{
	top: -5px;
}

@media all and (min-width:468px){
	.menu{
		justify-content: center;
	}
	.logo{
		flex:1;
	}
	.item.button{
		width: auto;
		order:1;
		display: block;
	}
	.toggle{
		order:2;
	}
	.button.secondary{
		border: 0;
	}
	.button a{
		padding: 7px 15px;
		border: 1px solid #ffffff;
		border-radius: 50em;
	}
	.button a{
		background: transparent;
		font-weight: bolder;
		text-decoration: none;
	}
	.button a:hover{
		color: #296d98;
		border: 1px solid #47B5FF;
		transition: all .25s;
	}
	.button.secondary a{
		background: #47B5FF;
		border: none;
		font-weight: bolder;
	}
	.button.secondary a:hover{
		background: #296d98;
		color: #0b212f;
		transition: all .25s;
	}
}

@media all and (min-width: 768px){
	.item{
		display: block;
		width: auto;
	}
	.toggle{
		display: none;
	}
	.logo{
		order:0;
	}
	.item{
		order:1;
	}
	.button{
		order:2;
	}
	.menu li{
		padding: 15px 10px;
	}
	.menu li.button{
		padding-right: 0;
	}
}
